.header {


  background: black; // Remove when done
}

.nav-bar-container {
  padding: 20px 30px;
  width: 800px;
  margin: auto;

  background: orange; // Remove when done
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  background: red; // Remove when done
}

.nav-bar-left-logo {
  // font: 400 92px/84px Abril Fatface;
  // font-family: Abril Fatface;
  font-family: medium-content-sans-serif-font;
  vertical-align: middle;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  float: left;


  background: blue; // Remove when done
}

.nav-bar-right {
  margin-left: auto;
  float: right;

  background: pink; // Remove when done
}

.login-button {
  // font-family:  medium-content-sans-serif-font;
  // font-size: 18px;
  // font-weight: 300;
  // line-height: 24px;
  // color: rgba(0,0,0,0.84);
  margin-right: 30px;

  background: grey; // Remove when done
}

.signup-button {

  background: chartreuse; // Remove when done
}