.story-form-page-container {
  display: flex;
  flex-direction: column;

  background: red;
}

.story-form-container {
  
  background: royalblue;
}

.story-form {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  margin: 50px 250px 0px 250px;


  background: tomato;
}

.story-form-details-container {

}

.story-form-title-container {
  display: flex;
  flex-direction: row;

}

.story-form-title-label {

}

.story-form-title {

}

.story-form-body {

}

.story-errors {

}

.image-btn-container {
  // border: 1px solid black;
  // border-radius: 30px;
}

.file-upload-div {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50px;

  background: burlywood;
}

#image-btn {
  display: none;

}

