.story-form-container {
  
  // background: royalblue;
}

.story-form {
  margin: 0px 250px 0px 250px;

  // background: tomato;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story-form-contents {
  display: flex;
  flex-direction: row;

  // background: orange;
}

.story-form-inputs-container {
  display: flex;
  flex-direction: column;
  // color: #b3b3b1;

  // background: lightgreen;
}

.story-form-details-container {
  margin: 15px 0px 0px 75px;
}

.story-form-title {
  font-size: -webkit-xxx-large;
  
}

.story-form-body {
  margin: 10px 0px 0px 0px;
  font-size: 22px;
  
}

.create-btn-container {
  align-self: flex-end;
}

.temp-btn {
  margin-top: 15px;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  background: rgba(3, 168, 124, 1);
}

.temp-btn:hover {
  background: rgba(0, 146, 107, 0.897);
}

.story-errors {
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.54);
}

.image-btn-container {
  width: 32px;
  height: 22px;
  line-height: 30px;
  align-self: flex-end;
  margin: 0px 10px 7px 0px;


  // background: red;
}

.file-upload-div {
  padding: 9px;
  border: 0.5px solid black;
  border-radius: 100%;
  font-size: small;
  cursor: pointer;

  // background: burlywood;
}

.image-btn {
  display: none;

}