.divider-top {
  border: 1px solid rgba(0, 0, 0, 0.54);
}

.divider-right {
  color: rgba(0, 0, 0, 0.54);
}

.editors-container {
  display: flex;
  flex-direction: row;
}

.editors-story-container {
  margin: 20px 300px 0px 100px;
}

.popular-container {
  display: flex;
  flex-direction: row;
}

.popular-story-container {
  margin: 20px 300px 0px 100px;
}

.stories-feed-container {
  display: flex;
  flex-direction: row;
}

.stories-story-container {
  margin: 20px 300px 0px 100px;
}

.story-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.story {
  display: flex;
  flex-direction: row;
}

.story-title-container {
  margin-top: 40px;
}

.story-title {
  // font-weight: bolder;
  font-size: 20px;
}

.story-body-container {
  margin: 10px 0px 10px 0px;
}

.story-body {
  // display: flex;
  // flex-shrink: 1;
  letter-spacing: 0.01em;
  line-height: 30px;
}

.story-details-container {
  color: rgba(0, 0, 0, 0.54);
}

.story-author {
  color: rgba(37, 37, 37, 0.54);

}

.story-date-container {
  margin-top: 10px;
}

.story-image {
  padding: 100px;
}

.editors-title {
  color: rgba(0, 146, 107, 0.897);
}

.popular-title {
  color: rgba(0, 146, 107, 0.897);

}