// .h1-container {
//   display: flex;
//   justify-content: center;
// }

// .story-h1 {
//   margin-top: 80px;
//   font-size: 22px;
//   color: rgba(0, 0, 0, 0.54);
// }

.feed-page-container {
  display: flex;
  flex-direction: row;

}

.story-container {
  margin: 20px 300px 0px 100px;
}

.story-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.story {
  display: flex;
  flex-direction: row;
}

.story-title-container {
  margin-top: 40px;
}

.story-title {
  font-weight: bolder;
  font-size: 20px;
}

.story-body-container {
  margin: 10px 0px 10px 0px;
}

.story-body {
  display: flex;
  flex-shrink: 1;

}

.story-details-container {
  color: rgba(0, 0, 0, 0.54);
}

.story-author {

}

.story-date-container {
  margin-top: 10px;
}

.story-date {

}

.story-image-container {

}

.story-image {
  padding: 100px;
}