.divider-top {
  border: .05px solid rgba(95, 95, 95, 0.54);
  width: 80%;
  display: flex;
  align-self: center;
}

.divider-right {
  border: .05px solid rgba(95, 95, 95, 0.54);
  width: 20vw;
}

.editors-container {
  display: flex;
  flex-direction: column;
}

.editors-story-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stories-feed-container {
  display: flex;
  flex-direction: row;
}

.stories-story-container {
  margin: 20px 150px 0px 100px;
}

.editors-story-list-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px 0px 100px;
  box-sizing: border-box;

  // border: 1px solid red;
}

.mid-stories-container {
  display: flex;
  flex-direction: column;
  width: 31%;
}

.mid-story-container {
  display: flex;
}

.first-story {
  width: 31%;
  box-sizing: border-box;

  // border: 1px solid red;
}

.mid-story {
  display: flex;
  margin: 15px 20px 0px 0px;

  // border: 1px solid blue;
}

.last-story {
  width: 31%;
  // border: 1px solid red;
}

.stories-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}

.story-title-container {
  display: flex;
  flex-direction: column;
}

.mid-story-title-container {
  display: flex;
  flex-direction: column;
}

.stories-story-title {
  font-size: 20px;
  font-weight: bolder;
}

.stories-body-container {
  margin-bottom: 20px
}

.stories-image-container {
  margin-left: 80px;
}

.stories-image {
  width: 15vw;
}

.editors-story-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.editors-story-body-container {
  margin: 10px 0px 10px 0px;
}

.story-body {
  letter-spacing: 0.01em;
  line-height: 30px;
  font-size: 18px;
}

.editors-story-body {
  display: flex;
  align-self: center;
  letter-spacing: 0.01em;
  font-size: 18px;
}

.story-details-container {
  color: rgba(0, 0, 0, 0.54);
}

.story-author {
  color: rgba(37, 37, 37, 0.54);

}

.story-date-container {
  margin-top: 10px;
}

.first-story-image-container {
  // display: flex;
  // justify-content: center;
}

.first-story-image {
  object-fit: contain;
  max-height: 40vh;
  
  // border: 1px solid green;
}

.mid-story-image-container {

}

.mid-story-image {
  width: 10vw;
  max-height: 40vh;
  margin-right: 15px;
  
  // border: 1px solid green;
}

.last-story-image-container {
  // display: flex;
  // justify-content: center;
}

.last-story-image {
  max-height: 40vh;
  object-fit: contain;
  
  // border: 1px solid green;
}

.editors-title {
  color: rgba(0, 146, 107, 0.897);
  display: flex;
  align-self: flex-end;
  margin-right: 12%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popular-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.editors-feed {

}

.bottom-feed {
  display: flex;
  width: 80vw;
  margin: auto;

}

.popular-stories {
  margin-right: 50px;
}

.popular-container {
  display: flex;
  flex-direction: row;
}

.popular-story-container {
  color: rgba(129, 129, 129, 0.54);
  margin: 20px 20px 0px 5px;
  font-size: 30px;
  display: flex;
}

.popular-story-num {
  margin-right: 15px
}

.popular-story {
  color: black;
  font-size: 20px;
}

.popular-story-title {

}

.popular-story-details-container {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 10px;
}

.popular-story-author {
  color: rgba(37, 37, 37, 0.54);
  font-size: 16px;
  
}

.popular-story-date-container {
  margin-top: 10px;
  font-size: 16px;
}

.popular-story-body {
  letter-spacing: 0.01em;
  line-height: 30px;
  font-size: 18px;
}

.popular-story-title-container {
  display: flex;
  flex-direction: column;
}